<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.android.App_25">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.Manifest.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name="com.android.App_25.InvestoMaster"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.android.App_25.ui.MainActivity"
            android:theme="@style/AppTheme.Main"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.App_25.ui.DetailActivity"
            android:theme="@style/AppTheme.Details"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.App_25.ui.MainActivity"/>
        </activity>

        <service
            android:name="com.android.App_25.sync.QuoteIntentService"
            android:exported="false"/>

        <provider
            android:name="com.android.App_25.data.StockProvider"
            android:authorities="com.android.App_25"
            android:exported="false"/>

        <service
            android:name="com.android.App_25.sync.QuoteJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <!-- Widget receiver and services-->
        <receiver
            android:name="com.android.App_25.widget.StockWidgetProvider"
            android:label="@string/widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.android.App_25.ACTION_DATA_UPDATED"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stock_widget_provider_info"/>
        </receiver>

        <service
            android:name="com.android.App_25.widget.StockWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

    </application>

</manifest>